
<div class="container">
    <dog-navbar></dog-navbar>
    <h1>{{ name}}</h1>
    
        
    
    <div class="row">
        <h4 class="text-danger" ng-show="filteredBreeds.length == 0">No breeds found for the filter</h4>
            <div class="col-md-4 col-sm-6 mb-5" ng-repeat="image in breedImgArr "> 
        
            <!--<div class="card"> -->
                <div class="thumb-post">
                    <!-- Hide the link tag - instead activate script-->
                    <!--<a class="thumbnail" ng-href="{{image}}" target="_blank">-->
                        <img class="card-img-center img-thumbnail" ng-src="{{ image }}"  alt="Card image" ng-click="selectImage(image);">
                    <!--</a> -->
                </div>
            <!--</div> -->
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
    <!-- <div class="modal fade" id="myModal"> -->
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <img class="img-fluid" ng-src="{{ selectedImg }}"  alt="Card image">
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>